aniso8601==3.0.2
certifi==2018.10.15
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Caching==1.4.0
idna==2.7
ItsDangerous==1.0.0
Jinja2==2.10
MarkupSafe==1.0
numpy==1.15.2
pandas==0.23.4
python-dateutil==2.7.3
pytz==2018.5
requests==2.20.0
six==1.11.0
urllib3==1.24
Werkzeug==0.14.1
